.feedbackButtonList {
  display: flex;
  margin-top: 20px;
}

.feedbackButtonListItem:not(:last-child) {
  margin-right: 10px;
}

.feedbackButton {
  border: 1px solid;
  border-radius: 4px;
  background-color: orangered;
  color: white;
  text-transform: capitalize;
  height: 30px;
  width: 80px;
}

.feedbackButton:hover,
.feedbackButton:focus {
  cursor: pointer;
  background-color: purple;
}
